services:
  postgres:
    image: postgres:16-alpine
    container_name: user-db
    restart: unless-stopped
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: user-redis
    restart: unless-stopped
    ports:
      - "6380:6380"
    command: ["redis-server", "--save", "", "--appendonly", "no"]

volumes:
  postgres_data:
